.promotionBanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(33, 91, 251, 1) 0%,
    rgba(152, 23, 251, 1) 100%
  );
  height: 2rem;

  p {
    font-size: 0.55rem;
    color: white;
    font-weight: 800;
  }

  .cupom {
    margin-left: 0.4rem;
    font-size: 0.8rem;
    background-color: #ff5900;
    color: white;
    padding: 0.1rem;
    border-radius: 0.2rem;
    font-weight: 800;
  }
}

@media screen and (min-width: 573px) and (max-width: 1023px) {
  .promotionBanner {
    height: 3rem;

    p {
      font-size: 0.95rem;
    }

    .cupom {
      font-size: 1.2rem;
      padding: 0.2rem;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .promotionBanner {
    height: 3rem;

    p {
      font-size: 1.2rem;
    }

    .cupom {
      font-size: 1rem;
      padding: 0.3rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .promotionBanner {
    height: 3rem;

    p {
      font-size: 1.2rem;
    }

    .cupom {
      font-size: 1rem;
      padding: 0.3rem;
    }
  }
}
